# Node modules
node_modules/

# Build output
dist/
build/

# Vite cache
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*

# Docker
Dockerfile*
docker-compose*

# Local coverage reports
coverage/

# Misc
*.local
*.log

# React Router cache
.react-router/
